$bg-col-1: #151920;
$bg-col-2: #1b1f29;
$bg-col-3: white;
$bg-col-4: #171a21;
$bg-col-5: #272c3a;

$text-col-1: #dddddd;
$text-col-2: black;
$text-col-3: rgba(255, 255, 255, 0.445);
$text-col-4: #3cb2fc;
$text-col-5: #a5a5a5;

$data-col-1: #a3cf06;
$data-col-2: #3cb2fc;
$data-col-3: #065ba4;

$nav-col-1: #121314;
:export {
    textCol1: $text-col-1;
    dataCol1: $data-col-1;
    dataCol2: $data-col-2;
}

#App {
    min-height: 100vh;
    background-color: $bg-col-1;
    color: $text-col-1;
    font-weight: 300;
    font-family: "Barlow", sans-serif;

    .game-price-details {
        display: inline-block;
        .game-price-discount {
            background-color: #b7ff2f;
            color: $text-col-2;
        }
        .game-price-initial {
            background-color: rgba(0, 0, 0, 0.5);
            text-decoration: line-through;
            color: rgba(255, 255, 255, 0.5);
        }
        .game-price-final {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .navigation-links {
        text-decoration: none;
        color: $text-col-1;
        &:hover {
            color: $text-col-5;
        }
    }
    .custom-tooltip {
        background-color: $bg-col-3;
        color: $text-col-2;
        padding: 0.5rem;
    }
    .data {
        color: $data-col-2;
    }
    .secondary-data {
        color: $data-col-1;
    }
    .clickable-data {
        color: $data-col-3;
    }
    .secondary-text {
        color: $text-col-3;
    }
    .images-mini {
        height: 24px;
    }
}
#NavigationBar {
    background-color: $nav-col-1;
    #brand-logo {
        height: 40px;
        margin-left: 5px;
    }
    #search-form {
        min-width: 400px;
        position: relative;
        #search-bar {
            width: 100%;
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            border: 1px solid #dddddd;
            img {
                align-self: center;
                height: 16px;
                width: 16px;
                margin-left: 10px;
            }
            #search-control {
                background-color: transparent;
                color: $text-col-1;
                border: none;
            }
            #search-control:focus {
                box-shadow: none;
            }
        }
        #search-results {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 40px;
            z-index: 10;
            .search-results-item {
                background-color: $bg-col-2;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                .search-item-image {
                    height: 32px;
                }
            }
            .search-results-item:hover {
                background-color: $bg-col-4;
            }
            .search-results-loading {
                opacity: 1;
            }
        }
    }
}
#Content {
    margin-top: 100px;
    #HomeView {
        padding: 2rem;
        animation: fadeIn 0.5s ease-in-out;
        #home-banner {
            #home-logo {
                float: right;
                width: 150px;
                height: 150px;
            }
        }
        @media screen and (max-width: 600px) {
            #home-banner {
                text-align: center;
                #home-logo {
                    float: none;
                }
            }
        }
        .popular-game-table {
            border-radius: 5px;
            color: $text-col-1;
            background-color: $bg-col-2;
            * {
                border: none;
            }
            .game-details {
                a {
                    text-decoration: none;
                    color: $text-col-1;
                }
                a:hover {
                    color: $text-col-4;
                }
                td {
                    vertical-align: middle;
                }
                .game-image-container {
                    width: 105px;
                    .game-image {
                        height: 48px;
                        max-width: 105px;
                        overflow: hidden;
                    }
                    .game-image:hover {
                        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    }
                }
            }
        }
    }
    #GameView {
        animation: fadeIn 0.5s ease-in-out;
        max-width: 1200px;

        #game-details-primary {
            #game-details-header-image {
                width: 100%;
                min-width: 460px;
            }
            .game-redirect-buttons {
                margin-right: 10px;
                .game-redirect-icons {
                    height: 16px;
                }
            }
            #game-details-table {
                border-color: #dddddd31;
                color: $text-col-1;
            }
        }
        #game-metrics {
            #game-metrics-header {
                text-decoration-thickness: 1px;
            }
        }
    }
    #ChartView {
        animation: fadeIn 0.5s ease-in-out;
        max-width: 1200px;
        #chart-select-year {
            margin-left: auto;
            color: $text-col-2;
            width: 100px;
        }
    }
    #QualityView {
        animation: fadeIn 0.5s ease-in-out;
        #quality-viewer-control-container {
            text-align: center;
            margin: auto;
            background-color: transparent;
            color: $text-col-1;
            margin-bottom: 2rem;
            #quality-viewer-control {
                max-width: 500px;
            }
        }
    }
    #AboutView {
        animation: fadeIn 0.5s ease-in-out;
        color: $text-col-5;
        .about-header {
            color: $text-col-1;
        }
        #about-container {
            margin-left: 10%;
            margin-right: 40%;
        }
    }
}

#Footer {
    border-top: 1px solid $bg-col-5;
    margin-top: 100px;
    padding: 2rem;
    color: $text-col-3;
    .external-logos {
        margin-right: 8px;
        height: 32px;
    }
}

#similar-games {
    #similar-games-results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .similar-games-item {
            justify-content: flex-start;
            margin-left: 0.8rem;
            list-style: none;
            width: 210px;
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                font-weight: 400;
                color: $text-col-1;
            }
            a:hover {
                color: $text-col-4;
            }
            img {
                height: 96px;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
